## Lab 4

In [1]:
# импорт библиотек
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math

### Task 1

Подключить файл с данными titanic_train.csv

In [3]:
df = pd.read_csv('../../resources/lab1_3/titanic_train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Task 2

Разделить набор данных на два набора по значению Survived

In [4]:
survived = df[df['Survived'] == 1]
not_survived = df[df['Survived'] == 0]

### Task 3

Подсчитать среднее значение возраста в каждой выборке.  Выполнить сравнение средних значений возраста с помощью T- критерия Стьюдента. Рассчитать значение коэффициента значимости. Сформулировать и записать вывод.

In [ ]:
# среднее значение возраста в каждой выборке
mean_survived = survived['Age'].mean()
mean_not_survived = not_survived['Age'].mean()

# сравнение средних значений возраста с помощью T- критерия Стьюдента
t_stat, p_value = stats.ttest_ind(survived['Age'].dropna(), not_survived['Age'].dropna(), equal_var=False)
# stats.ttest_ind(survived['Age'].dropna(), not_survived['Age'].dropna(), equal_var=False)

# значение коэффициента значимости
p_value

np.float64(0.04118965162586639)

Вывод:

Значение коэффициента значимости - 0.041 - значит, что средние возраста не равны между собой. Таким образом, можно сделать вывод, что возраст влияет на выживаемость пассажиров.

### Task 4

С помощью критерия Манна-Уитни Выполнить сравнение средних значений класса пассажиров в двух наборах данных.

In [12]:
# среднее значение класса пассажиров в каждой выборке
mean_survived = survived['Pclass'].mean()
mean_not_survived = not_survived['Pclass'].mean()

# сравнение средних значений класса пассажиров с помощью критерия Манна-Уитни
# u_stat, p_value = 
stats.mannwhitneyu(survived['Pclass'].dropna(), not_survived['Pclass'].dropna(), alternative='two-sided')

# значение коэффициента значимости
# p_value

MannwhitneyuResult(statistic=np.float64(59816.5), pvalue=np.float64(3.9387746035605514e-24))

### Task 5

Построить кореляционную матрицу по общему набору данных

In [ ]:
# кореляционная матрица по общему набору данных
# df.corr()
df.select_dtypes(include=[np.number]).corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000